/*-----------------------------IMPORTS----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/*------------------------------ROOT---------------------------*/
:root {--lightGrey: #bababa;
       --grey: #8d8d8d;
       --lightBlue: #a6cbeb;
       --blue: #1b5180;
       --black: #3a3a3a;
       --white: #ffffff;
       --roboto: 'Roboto', sans-serif;}
/*------------------------------CONTENT----------------------------------*/
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.title-error, .fif-error{
    text-align: center;
}
.fif-error{
    font-size: xx-large;
    font-weight: bolder;
}
.lefty{
    display: flex;
    justify-content: flex-start;
}
/*-----------------------------Vehicle-----------------------------*/


/*----------------------------Messages-----------------------------*/
.success{
    color: #539153;
}
.error, .notice{
    color: #ff0000;
}
/*-----------------------------Classification---------------------------*/
#inv-display {
    display: flex;
    justify-content: space-around;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(17, 16, 16);
    box-shadow: 1px 8px 15px 5px rgba(0,0,0,0.75);
}
  
#inv-display div {
    width: 100%;

}
.vehicle-details{
    font-size: larger;
}

/*--------------------NOT ALTERED IN ANY VIEW---------------------------*/
html{
    background-image: url('/phpmotors/images/site/checkerboard.jpg');
}

body{
    background-color: var(--white);
    margin: 1rem;
    font-family: var(--roboto);}

a { cursor: pointer;}

button { cursor: pointer; padding: .5rem; border: 1px solid var(--black); background-color: var(--lightBlue); font-weight: bolder; font-size: 1rem;}

#page_nav {
    background-color: var(--black);
    padding: 1rem;
}
#page_nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
#page_nav li a{
    flex: 1 0 auto;
    text-align: center;
    cursor: pointer;
    color: var(--white);
    }

#page_nav li a:hover {
    padding: .3rem;
    background-color: var(--blue);}

#page_nav li:hover {padding: .3rem; background-color: var(--blue);}
#side-del {
    font-size: large;
    font-weight: bold;
    color: var(--blue);
    }
#upgr-deep {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    text-align: center;}
#upgr-deep img{
    display: flex;
    padding: 1rem 2rem;
    margin: 0 auto;
    background-color: var(--blue);}
#login {
    font-size: 1.2rem;
    margin-right: 1rem;
}
#data-admin{
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
}
#data-admin ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}


textarea{
    max-width: 35rem;
}
form {
    color: var(--white);
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    background-color: var(--blue);
    padding: 2rem;
    box-shadow: -1px -1px 24px 0px rgba(0,0,0,1);
    border-radius: 2rem;
    font-size: x-large;
    }

form a{
    color: var(--white);
    }
.button {
    font-size: 1rem;
    font-weight: bolder;
}
.vehMan h1,h2{
    text-align: center;
     margin-top: 1rem;
 }
footer {
    text-align: center;
    border: 2px solid var(--black);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);}
    
@media screen and (min-width: 7em) and (max-width: 29.9em) {
    
    #inv-display{
        margin: 1rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
       }
       
       #inv-display li{
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
       }
       
       #inv-display li img {
           max-width: 100%;
       }
       /*-------------------Vehicle Details------------------*/
    .vehicle-details{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr)
    }
    .vehicle-div .vehicle-img{
        grid-area: 1 / 1 / 2 / 2;
        max-width: 18rem;
    }
    .vehicle-div .vehicle-ul{
        grid-area: 2 / 1 / 3 / 2;
        font-size: medium;
        margin: 2rem;
    }
    #imageGallery{
        grid-area: 3 / 1 / 4 / 2;
        max-width: 10rem;
        margin: -2rem auto 2rem auto;
    }
    .vehicle-ul{
        list-style: none;
    }
    .title-vehicle{
        text-align: center;
    }
    .vehicle-img{
        display: flex;
        max-width: 20rem;
        max-height: 25rem;
        margin: 0 auto;
    }
    .inv-price{
        margin-left: 3rem;
        font-size: x-large;
    }
  
    /*----------------------Vehicle details end*/
    #data-admin .button{
        margin-left: 2rem;
    }
    #login{
        font-size: 1.2rem;
    }
    form input{
        width: 10rem;
        height: 2rem;
        }
    #delorean {
        background-image: url('/phpmotors/images/vehicles/delorean_1_45.jpg');
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: -10rem;
    }
    #side-del {
        margin-left: 2rem;
    }
    #side-del button{
        margin-left: 5rem;
    }
    #div-bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #character {
        grid-area: 1 / 1 / 2 / 2;
    }
    #upgrades {
        grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 1rem;
        text-align: center;
    }
    .vehicleManagementView ul{
        display: flex;
        flex-direction: column;
    }
    .vehicleManagementView ul li{
        margin: .5rem;
        border: 2px solid #333;
        background-color: antiquewhite;
    }
}