@media screen and (min-width: 30em) {
    #data-admin .button{
        margin-left: 10rem;
    }

    /*-------------------------------HEADER--------------------------------------*/

    #login {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;}
    /*-------------------------------MAIN---------------------------------------*/
    form input{
        width: 20rem;
        height: 2rem;
        }
    #delorean {
        background-image: url('/phpmotors/images/delorean_1_75.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    #delorean h1{
        margin-left: 5rem;
        
    }
    #side-del {

        margin-left: 10rem;}
    /*-------------------------------BOTTOM PAGE-------------------------------*/
    #div-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .2fr .15fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    /*========Reviews===========*/
    
    #character h2 { grid-area: 1 / 2 / 2 / 3; text-align: center;}
    #character ul { grid-area: 2 / 2 / 3 / 3; line-height: 2rem; margin-left: 5rem; font-size: larger;}
    /*========Upgrades==========*/
    #upgrades { text-align: center; }
    #upgrades h2 { grid-area: 1 / 1 / 2 / 2;}
    #upgr-content { grid-area: 2 / 1 / 3 / 2;}

    
    #upgr-deep img {
        display: flex;
        padding: 1rem 5rem;
        margin: 0 auto;
        background-color: var(--blue);}
    /*-------------------------------FOOTER------------------------------------*/
    /*VEHICLE MANAGEMENT*/

    .vehicleManagementView ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        
    }
    .vehicleManagementView ul li{
        padding: 1rem;
        margin: 1rem;
        border: 2px solid #333;
        background-color: antiquewhite;
        text-decoration: none;
    }
    .vehicle-details{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    #inv-display{
        margin: 2rem;
    }
    #inv-display li{
        padding: 2.5rem;
    }
    .vehicle-ul{
        margin: 1rem;
    }
    #imageGallery{
        margin: 1rem;
    }
    #imageGallery li:hover{
        transform: scale(1.3);
    }

    .vehicle-ul{
        list-style: none;
    }
    .title-vehicle{
        text-align: center;
    }
    .vehicle-img{
        max-width: 25rem;
    }
    /*---------------------------------------REVIEW-----------------------------------------*/
    #write-review{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    #reviews-display{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        background-color: bisque;
    }
    #admin-reviews-display{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        background-color: bisque;
    }
}
